$primary-color = rgba(255, 102, 0, 1)

$gray = #333333
$text-gray = #666666
$white = #ffffff

$bg-color = #F2F2F2

// color about input & form
$input-border-color = #eeeeee
$placeholder-color = #999999
$button-disable-color = #cccccc

$tabs-height = 50px
